.damion {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.young {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hurricane {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
}
