@media (max-width: 1440px) {
  .container {
    transform: scale(1);
  }
  header {
    transform: scale(1);
  }
}

@media (max-width: 1400px) {
  .container {
    transform: scale(0.968);
  }
  header {
    transform: scale(0.968);
  }
}

@media (max-width: 1366px) {
  .container {
    transform: scale(0.941);
  }
  header {
    transform: scale(0.941);
  }
}

@media (max-width: 1360px) {
  .container {
    transform: scale(0.936);
  }
  header {
    transform: scale(0.936);
  }
}

@media (max-width: 1344px) {
  .container {
    transform: scale(0.923);
  }
  header {
    transform: scale(0.923);
  }
}

@media (max-width: 1336px) {
  .container {
    transform: scale(0.917);
  }
  header {
    transform: scale(0.917);
  }
}

@media (max-width: 1320px) {
  .container {
    transform: scale(0.904);
  }
  header {
    transform: scale(0.904);
  }
}

@media (max-width: 1300px) {
  .container {
    transform: scale(0.888);
  }
  header {
    transform: scale(0.888);
  }
}

@media (max-width: 1280px) {
  .container {
    transform: scale(0.872);
  }
  header {
    transform: scale(0.872);
  }
}

@media (max-width: 1250px) {
  .container {
    transform: scale(0.848);
  }
  header {
    transform: scale(0.848);
  }
}

@media (max-width: 1220px) {
  .container {
    transform: scale(0.823);
  }
  header {
    transform: scale(0.823);
  }
}

@media (max-width: 1200px) {
  .container {
    transform: scale(0.808);
  }
  header {
    transform: scale(0.808);
  }
}

@media (max-width: 1180px) {
  .container {
    transform: scale(0.792);
  }
  header {
    transform: scale(0.792);
  }
}

@media (max-width: 1152px) {
  .container {
    transform: scale(0.769);
  }
  header {
    transform: scale(0.769);
  }
}

@media (max-width: 1120px) {
  .container {
    transform: scale(0.744);
  }
  header {
    transform: scale(0.744);
  }
}

@media (max-width: 1100px) {
  .container {
    transform: scale(0.728);
  }
  header {
    transform: scale(0.728);
    top: 1%;
  }
}

@media (max-width: 1080px) {
  .container {
    transform: scale(0.712);
  }
  header {
    transform: scale(0.712);
  }
}

@media (max-width: 1050px) {
  .container {
    transform: scale(0.687);
  }
  header {
    transform: scale(0.687);
  }
}

@media (max-width: 1040px) {
  .container {
    transform: scale(0.68);
  }
  header {
    transform: scale(0.68);
  }
}

@media (max-width: 1030px) {
  .container {
    transform: scale(0.671);
  }
  header {
    transform: scale(0.671);
  }
}

@media (max-width: 1024px) {
  .container {
    transform: scale(0.667);
  }
  header {
    transform: scale(0.667);
  }
}

@media (max-width: 1010px) {
  .container {
    transform: scale(0.655);
  }
  header {
    transform: scale(0.655);
  }
}

@media (max-width: 1000px) {
  .container {
    transform: scale(0.649);
  }
  header {
    transform: scale(0.649);
  }
}

@media (max-width: 980px) {
  .container {
    transform: scale(0.638);
  }
  header {
    transform: scale(0.638);
  }
}

@media (max-width: 960px) {
  .container {
    transform: scale(0.627);
  }
  header {
    transform: scale(0.627);
  }
}

@media (max-width: 940px) {
  .container {
    transform: scale(0.616);
  }
  header {
    transform: scale(0.616);
  }
}

@media (max-width: 920px) {
  .container {
    transform: scale(0.605);
  }
  header {
    transform: scale(0.605);
    top: -2%;
  }
}

@media (max-width: 900px) {
  .container {
    transform: scale(0.594);
  }
  header {
    transform: scale(0.594);
  }
}

@media (max-width: 880px) {
  .container {
    transform: scale(0.583);
  }
  header {
    transform: scale(0.583);
  }
}

@media (max-width: 860px) {
  .container {
    transform: scale(0.572);
  }
  header {
    transform: scale(0.572);
  }
}

@media (max-width: 840px) {
  .container {
    transform: scale(0.561);
  }
  header {
    transform: scale(0.561);
  }
}

@media (max-width: 820px) {
  .container {
    transform: scale(0.55);
  }
  header {
    transform: scale(0.55);
  }
}

@media (max-width: 800px) {
  .container {
    transform: scale(0.539);
  }
  header {
    transform: scale(0.539);
  }
}

@media (max-width: 780px) {
  .container {
    transform: scale(0.528);
  }
  header {
    transform: scale(0.528);
  }
}

@media (max-width: 760px) {
  .container {
    transform: scale(0.517);
  }
  header {
    transform: scale(0.517);
  }
}

@media (max-width: 740px) {
  .container {
    transform: scale(0.506);
  }
  header {
    transform: scale(0.506);
  }
}

@media (max-width: 720px) {
  .container {
    transform: scale(0.495);
  }
  header {
    transform: scale(0.495);
    top: -3%;
  }
}

@media (max-width: 700px) {
  .container {
    transform: scale(0.484);
  }
  header {
    transform: scale(0.484);
  }
}

@media (max-width: 680px) {
  .container {
    transform: scale(0.473);
  }
  header {
    transform: scale(0.473);
  }
}

@media (max-width: 660px) {
  .container {
    transform: scale(0.462);
  }
  header {
    transform: scale(0.462);
  }
}

@media (max-width: 640px) {
  .container {
    transform: scale(0.451);
  }
  header {
    transform: scale(0.451);
  }
}

@media (max-width: 620px) {
  .container {
    transform: scale(0.44);
  }
  header {
    transform: scale(0.44);
  }
}

@media (max-width: 600px) {
  .container {
    transform: scale(0.429);
  }
  header {
    transform: scale(0.429);
  }
}

@media (max-width: 580px) {
  .container {
    transform: scale(0.418);
  }
  header {
    transform: scale(0.418);
  }
}

@media (max-width: 560px) {
  .container {
    transform: scale(0.407);
  }
  header {
    transform: scale(0.407);
  }
}

@media (max-width: 540px) {
  .container {
    transform: scale(0.396);
  }
  header {
    transform: scale(0.396);
  }
}

@media (max-width: 520px) {
  .container {
    transform: scale(0.385);
  }
  header {
    transform: scale(0.385);
  }
}
