* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: black;
  overflow-x: hidden;
}

.container {
  overflow-x: visible;
  width: 1440px;
  position: relative;
  top: 0;
  transform-origin: top center;
}

.landing {
  gap: 10px;
}

.landing h1 {
  font-size: 76px;
  margin: 0;
}

.landing ul {
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-around;

  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 118px;
  height: 64px;
  width: 816px;

  text-decoration: none;
  list-style-type: none;
  z-index: 10;
}

.landing img {
  position: relative;
  top: -70px;
}

/* ----------------------------------------------- */

.section2 {
  flex-direction: row;
  gap: 100px;
}

.section2 .gauche {
  margin-top: 100px;
  align-items: flex-start;
}

.section2 .gauche #img1 {
  align-self: flex-end;
  position: relative;
  top: 50px;
}

.section2 .gauche h2 {
  font-size: 64px;
  margin-bottom: 20px;
}

.section2 .gauche p {
  font-size: 18px;
  line-height: 26px;
}

.section2 .gauche #img2 {
  align-self: flex-end;
  position: relative;
  left: -50px;
}

/* ----------------------------------------------- */

.section3 {
  position: relative;
  top: -130px;
}

.sect3_texte {
  position: relative;
  top: -800px;
}

.section3 p {
  font-size: 30px;
}

.section3 h2 {
  line-height: 100px;
  font-size: 95px;
}

/* ----------------------------------------------- */

.section4 {
  align-items: flex-start;
  position: relative;
  top: -400px;
  gap: 50px;
  width: 1340px;
  max-width: 1340px;
}

.section4 h2 {
  font-size: 64px;
  line-height: 120%;
}

.section4 .carousel_media {
  flex-direction: row;
  gap: 50px;
  max-width: 1340px;
  overflow-x: auto;
}

.section4 .media {
  align-items: flex-start;
  gap: 20px;
}

.section4 .media img {
  position: relative;
  left: -23px;
}

.section4 .media .texte {
  align-items: flex-start;
  gap: 10px;
}

.section4 .media p {
  font-size: 20px;
  color: var(--noir40);
  font-weight: 500;
}

.section4 .media h3 {
  font-size: 32px;
  color: var(--noir80);
  font-style: italic;
  font-weight: 400;
}

/* ----------------------------------------------- */

.section5 {
  position: relative;
  top: -200px;
}

.section5 h2 {
  line-height: 85%;
  font-size: 130px;
  text-align: center;

  position: relative;
  top: -480px;
}

/* ----------------------------------------------- */

.section6 {
  position: relative;
  top: -200px;
  align-items: flex-start;
  width: 1340px;
  max-width: 1340px;
}

.section6 h2 {
  font-size: 115px;
}

.section6 .list {
  width: 1340px;
  max-width: 1340px;
}

.section6 .list hr {
  border: none;
  height: 4px;
  background-color: #c0bbb4;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.section6 .list .el {
  flex-direction: row;
  align-items: flex-start;
  width: 1270px;
  max-width: 1270px;
  justify-content: space-between;
}

.section6 .list .el .classement {
  flex-direction: row;
  align-items: flex-start;
}

.section6 .list .el .classement img {
  position: relative;
  top: -10px;
}

.section6 .list .el .an {
  font-size: 30px;
}

.section6 .list .el .rank {
  font-size: 30px;
  margin: 0 10px 0 10px;
}

.section6 .list .el .info {
  align-items: flex-start;
  gap: 5px;
  position: relative;
  top: -10px;
}

.section6 .list .el .info .haut {
  font-size: 24px;
}
.section6 .list .el .info .bas {
  font-size: 20px;
}

/* ----------------------------------------------- */

.section7 {
  position: relative;
  top: 2px;
  width: 100vw;
}

.section7 h2 {
  font-size: 88px;
  margin-bottom: 150px;
}

/* ----------------------------------------------- */
footer {
  background-color: #c0bbb4;
  width: 100vw;
}

.footer {
  flex-direction: row;
  justify-content: space-between;
  width: 1340px;
  max-width: 1340px;
  height: 850px;
  padding: 40px;
}

.footer .gauche {
  height: 800px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer h2 {
  font-size: 64px;
}

.footer .contact {
  width: 580px;
  height: 90px;
  background-color: #d9d9d9;
  border: rgba(0, 0, 0, 0.3) solid 3px;
  flex-direction: row;
  border-radius: 11px;
  justify-content: space-between;
  position: relative;
  top: -100px;
}

.footer .contact p {
  font-size: 24px;
  color: var(--noir60);
  position: relative;
  left: 25px;
}

.footer .contact a {
  background-color: #eebc7a;
  border: rgba(0, 0, 0, 0.23) solid 3px;
  border-radius: 8px;
  padding: 18px 80px;
  margin-right: 7px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.footer .gauche .bas_page {
  color: var(--noir40);
  font-size: 20px;
}

.footer #footer_stars {
  position: relative;
  left: 250px;
  top: -290px;
}

.footer .droite {
  height: 800px;
  align-items: flex-end;
  justify-content: space-between;
}

.footer .droite .links {
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 50px;

  position: relative;
  left: -30px;
  top: 30px;
}

.footer .droite .links h3 {
  font-size: 22px;
}

.footer .droite .links .sous_links {
  align-items: flex-start;
  gap: 20px;
}

.footer .droite .links .sous_links ul {
  align-items: flex-start;
  gap: 5px;
  font-size: 20px;
  color: var(--noir60);
}

.footer .droite .links .sous_links .reseaux {
  align-items: flex-start;
  gap: 10px;
  flex-direction: row;
}

.footer .droite .links .sous_links .reseaux a:nth-child(2) {
  position: relative;
  top: -6px;
}
