* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
}

.container {
}

.landing {
  gap: 10px;
}

.landing h1 {
  font-size: 76px;
  margin: 0;
}

.landing ul {
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-around;

  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 118px;
  height: 64px;
  width: 816px;

  text-decoration: none;
  list-style-type: none;
  z-index: 10;
}

.landing img {
  position: relative;
  top: -70px;
}

/* ----------------------------------------------- */

.section2 {
  flex-direction: row;
  gap: 100px;
}

.section2 .gauche {
  margin-top: 100px;
  align-items: flex-start;
}

.section2 .gauche #img1 {
  align-self: flex-end;
  position: relative;
  top: 50px;
}

.section2 .gauche h2 {
  font-size: 64px;
  margin-bottom: 20px;
}

.section2 .gauche p {
  font-size: 18px;
  line-height: 26px;
}

.section2 .gauche #img2 {
  align-self: flex-end;
  position: relative;
  left: -50px;
}

/* ----------------------------------------------- */

.section3 {
  position: relative;
  top: -130px;
}

.sect3_texte {
  position: relative;
  top: -800px;
}

.section3 p {
  font-size: 30px;
}

.section3 h2 {
  line-height: 100px;
  font-size: 95px;
}

/* ----------------------------------------------- */

.section4 {
  align-items: flex-start;
  position: relative;
  top: -400px;
  gap: 50px;
  width: 1340px;
  max-width: 1340px;
}

.section4 h2 {
  font-size: 64px;
  line-height: 120%;
}

.section4 .carousel_media {
  flex-direction: row;
  gap: 50px;
  max-width: 1340px;
  overflow-x: auto;
}

.section4 .media {
  align-items: flex-start;
  gap: 20px;
}

.section4 .media img {
  position: relative;
  left: -23px;
}

.section4 .media .texte {
  align-items: flex-start;
  gap: 10px;
}

.section4 .media p {
  font-size: 20px;
  color: var(--noir40);
  font-weight: 500;
}

.section4 .media h3 {
  font-size: 32px;
  color: var(--noir80);
  font-style: italic;
  font-weight: 400;
}

/* ----------------------------------------------- */

.section5 {
  position: relative;
  top: -200px;
}

.section5 h2 {
  line-height: 85%;
  font-size: 130px;
  text-align: center;

  position: relative;
  top: -480px;
}
