:root {
  --noir80: rgba(0, 0, 0, 0.8);
  --noir60: rgba(0, 0, 0, 0.6);
  --noir40: rgba(0, 0, 0, 0.4);
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}
